<footer class="site">
  <div class="wrap">
    <div class="foot-grid">
      <div>
        <div class="mark">MT<span>·</span>News</div>
        <p>{{ T.site_desc | default: site.description }}</p>
      </div>
      <div>
        <h5>{{ T.sections }}</h5>
        <ul>
          {%- for c in site.cats limit: 5 %}
          <li><a href="{{ cat_base | append: c.slug | append: '/' | relative_url }}">{{ c[name_key] | default: c.name }}</a></li>
          {%- endfor %}
        </ul>
      </div>
      <div>
        <h5>MT News</h5>
        <ul>
          {%- for l in site.footer_links %}
          <li><a href="{{ l.url | relative_url }}">{{ l[name_key] | default: l.name }}</a></li>
          {%- endfor %}
        </ul>
      </div>
    </div>
    <div class="foot-bot">
      <span>© {{ site.time | date: "%Y" }} {{ site.title }}. All rights reserved.</span>
      <span>{{ T.publisher }} {{ site.author }} &nbsp;|&nbsp; {{ site.email }}</span>
    </div>
  </div>
</footer>
